<%- include('../partials/header.ejs', { title: 'Events' }) %>


<h2 class="text-center mb-4">Upcoming Events</h2>

<div class="row">
  <% events.forEach(event => { %>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100 shadow-sm">
        <% if (event.image) { %>
          <img src="/images/<%= event.image %>" class="card-img-top" alt="<%= event.title %>">
        <% } else { %>
          <img src="/images/default.jpg" class="card-img-top" alt="Default image">
        <% } %>
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><strong>Date:</strong> <%= event.date %></p>
          <p class="card-text"><strong>Time:</strong> <%= event.time %></p>
          <p class="card-text"><strong>Location:</strong> <%= event.location %></p>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<%- include('../partials/footer.ejs') %>
